{% extends "base.html" %}
{% block content %}
  <form method="POST" class="needs-validation" novalidate>
    {% csrf_token %}
    <h2 class="fade-in-text"> DEVENONS PARTENAIRES !</h2>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationTooltip01">Nom</label>
          <input type="text" class="form-control" name="last_name" id="validationTooltip01" placeholder="Nom" required>
          <div class="valid-tooltip">
            Looks good!
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationTooltip02">Prénom</label>
          <input type="text" class="form-control" name="first_name" id="validationTooltip02" placeholder="Prénom" required>
          <div class="valid-tooltip">
            Looks good!
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationTooltipUsername">Email</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
            </div>
            <input type="email" class="form-control" name="email" id="validationTooltipUsername" placeholder="Email" aria-describedby="validationTooltipUsernamePrepend" required>
            <div class="invalid-tooltip">
              Please choose a unique and valid username.
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationTooltip03">Ville</label>
          <input type="text" class="form-control" name="city" id="validationTooltip03" placeholder="Ville" required>
          <div class="invalid-tooltip">
            Please provide a valid city.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="validationTooltip04">Nom De l'entreprise</label>
          <input type="text" class="form-control" name="name_enterprise" id="validationTooltip04" placeholder="Nom de l'entreprise" required>
          <div class="invalid-tooltip">
            Please provide a valid state.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="validationTooltip05">Domaine d'activité</label>
          <input type="text" class="form-control" name="domain" id="validationTooltip05" placeholder="Domaine d'activité" required>
          <div class="invalid-tooltip">
            Please provide a valid zip.
          </div>
        </div>
      </div>
      <button class="btn btn-primary" type="submit">soumettre la demande</button>
    </form>



  {% endblock content %}