{% extends "base.html" %}
{%load static %}
{% block content %}
  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card" style="width: 18rem;">
        <img width="200px" height="200px" class="card-img-top" src="{% static 'IMG-20230810-WA0095.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">P1 : HAMDALLAYE</h5>
          <p class="card-text">
            <ul>
            <li><strong>Adresse : à côté de la boulangerie Ba Djelika</strong></li>
            <li><strong>Numéro : 75 16 69 15 </strong></li>
            <li><strong>Ouvert de : 08H-21H</strong></li>
          </ul></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'IMG-20230810-WA0095.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">P2 : NIARELA</h5>
          <p class="card-text">
            <ul>
            <li><strong>Adresse : Immeuble Kouma en face de l'hôtel Campagnard</strong></li>
            <li><strong>Numéro : 76 68 13 37</strong></li>
            <li><strong>Ouvert de : 08H-21H</strong></li>
          </ul></p>
        </div>
      </div>

    </div>

    <div class="col-lg-4 mb-2">

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'IMG-20230810-WA0095.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">P3 : 300 LOGEMENT</h5>
          <p class="card-text">
            <ul>
            <li><strong>Adresse : Sotuba en face de la Station Songho</strong></li>
            <li><strong>Numéro : 79 28 16 51</strong></li>
            <li><strong>Ouvert de : 08H-21H</strong></li>
          </ul></p>
        </div>
      </div>

    </div>


    <div class="col-lg-4 mb-2">

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'IMG-20230810-WA0095.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">P4 : BACODJICORONI</h5>
          <p class="card-text">
            <ul>
            <li><strong>Adresse : Immeuble Residence Nana</strong></li>
            <li><strong>Numéro : 75 37 12 63 </strong></li>
            <li><strong>Ouvert de : 08H-21H</strong></li>
          </ul></p>
        </div>
      </div>

    </div>


    <div class="col-lg-4 mb-2">

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'IMG-20230810-WA0095.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">P5 : KALANBA</h5>
          <p class="card-text"><ul>
            <li><strong>Adresse : Kalaban coura sur le goudron de la mairie</strong></li>
            <li><strong>Numéro : 71 58 36 39</strong></li>
            <li><strong>Ouvert de : 08H-21H</strong></li>
          </ul></p>
        </div>
      </div>

    </div>

    <div class="col-lg-4 mb-2">

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'IMG-20230810-WA0095.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">P6 : SOTUBA</h5>
          <p class="card-text">
            <ul>
              <li><strong>Adresse : Sotuba en face de la Station Songho</strong></li>
              <li><strong>Numéro : 65 96 71 85</strong></li>
              <li><strong>Ouvert de : 08H-21H</strong></li>
            </ul>
          </p>
        </div>
      </div>

    </div>

  </div>


{% endblock content %}